[submodule "Dotfiles"]
	path = Dotfiles
	url = https://github.com/calamityesp/Dotfiles.git
  branch = develop
[submodule "Obsidian"]
	path = Obsidian
	url = git@github.com:calamityesp/obsidian.git
  branch = main
